/***********************************
Author: Eduardo López Arce Vivas
email: eduardo.lopezarce@gmail.com
***********************************/

/********GENERAL RULES********/
/* rules for all index*/
*{
	font-family: 'Open Sans', sans-serif;
	margin:0px auto;
	padding: 0px;
	font-family: Helvetica, arial, sans-serif;
}
/* rules for body*/
body{
	text-align:center;
}
/* rules for Anchor*/
a{
	text-decoration: none;
	outline:none;
}
/**********Rules for div while image is loading***********/
#hideAll{
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   width:100%;
   background-color: #030303;
   z-index: 99; /* Higher than anything else in the document */
}
#hideAll #imgLoad{
	width:20%;
	margin: 0 auto;
	position: relative;
	z-index: 99;
}

/********RULES FOR TABLE WITH MENU CONTENT********/
#tabmenu{
	text-align:center;	
	width: 100%;
	padding: 0;
	background-color: rgb(3,3,3);
	position: fixed;
	z-index: 2;
}
/********RULES FOR LOGO********/
/* rules for logo*/
.logo {
	width: 150px;
	text-align: center;
	margin: auto;
	padding: auto;
}
/* rules for logo IMAGE*/
.logo img{
	width: 100%;
}
/********RULES FOR NAVIGATION MENU********/
/* rules for all UNORDERED lists*/
ul#navmenu, ul.sub1{
	list-style-type:none;
	/*outline: 1px solid red;*/
}
/* rules for MAIN LIST item*/
ul#navmenu li{
	/*border: 1px solid red;*/
	position: relative; /*very important step*/
	float: right;
	margin-right: 1%;
	margin-bottom: -20px;
}
/* rules for MAIN ANCHOR element*/
ul#navmenu a{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-decoration: none;
	display: block;
	color: #ddd;/*#002F64;*/
	text-align: center;		
	margin: 20px 20px;
	padding-bottom: 20px;
}
/* rules for ALL ANCHOR element -> MAIN LI hover*/
ul#navmenu li:hover >a{
	color: #00A8CB;
}
/* rules for SUB unordered lists*/
ul#navmenu ul.sub1{
	margin-top: -5px;
	display: none;
	position: absolute;
	z-index: 2;
	width: 200px;
	left: auto;
	right: auto;	
	margin-left: -50px;
	background-color: #030303;
}
ul#navmenu ul.sub1:after{
	content:'';
	display:block;
	position:absolute;
	top:-20px;
	left: 80px;
	width:0;
	height:0;
	border-color: transparent transparent #030303 transparent; /*border color should be same as div div background color*/
	border-style: solid;
	border-width: 10px;
}
/* rules for SUB LIST item*/
ul#navmenu .sub1 li{
	width: 100%;
	/**border: 1px solid green;*/
}
/* rules for SUB ANCHOR element*/
ul#navmenu .sub1 a{
	color: #ddd;
	width: 100%;
	margin: 5px auto;
}
/* rules for ALL SUB elements -> MAIN LI hover*/
ul#navmenu li:hover .sub1{
	display: block;
}
/**********RULES FOR FLAGS**********/
#flags{
	margin: auto;
	padding-top: 10px;	
	/*background-repeat:no-repeat;
	position:absolute;
	padding-bottom: 50px;
	/*top: 5px;
	right: 5px;
	background-position:0 top right;*/
}
#flags img{
	margin: 0 2px;
}
#flags a span{
	display:none;
} 
/***************Rules for main section********************/
/*dummy div to add padding*/
#paddingMenu{
	height: 60px;
	width: 100%;
}
/*Main container*/
.mainContainer{
	width: 100%;
	margin: 0 auto;
}
/*Main container with text*/
.mainContainer .mainText{
	font-family: 'Open Sans', sans-serif;
	color: #00a8cb;
	position: absolute;
	z-index: 1;
}
/************Main container with logo************/
.mainContainer #logoHD{
	position: absolute;
	z-index: 1;
	width: 20%;
	margin-left: 40%;
	margin-top: 200px;
}
/************Main container with image as background************/
.mainContainer .backgd{
	position: relative;
	width: 100%;
	z-index:0;
}
/***********RULES FOR FOOTER**************/
/* rules for all content in footer */
.footer{
	margin: 0px auto;
	padding-top: 40px;
	width: 100%;
	background-color: rgba(3,3,3,0.9);
	color: #FFF;
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
/* rules for heading in footer */
.footer .title{
	margin-left: 20%;
	padding-bottom: 10px;
	font-size:14px;
}
/* rules for subheading in footer */
.footer p{
	margin-left: 20%;
	padding-bottom: 5px;
}
/* rules for subheading elements in footer */
.footer a{
	color: rgb(198,198,198);
}
/* rules for subheading in footer while hover */
.footer a:hover{
	color: #fff;
}
/****************RULES FOR SUBFOOTER************/
.subfooter{
	margin: 0px auto;
	width: 100%;
	height: 50px;
	text-align: right;
	padding-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	background-color: rgba(3,3,3,0.9);
	color: #FFF;
}
/*************SOCIAL MEDIA***************/
.facebook{
	width: 48px;
	height:48px;
	display: inline-block;
    *display: inline;
	background:transparent url('../images/facebook.png') center top no-repeat;
}
.facebook img{
	width:100%;
	display: none;
}
.facebook:hover{
	background-image: url('../images/facebook2.png');	
}
.youtube{
	width: 48px;
	height:48px;
	display: inline-block;
    *display: inline;
	background:transparent url('../images/youtube.png') center top no-repeat;
}
.youtube img{
	width:100%;
	display: none;
}
.youtube:hover{
	background-image: url('../images/youtube2.png');	
}
.linkedin{
	width: 48px;
	height:48px;
	display: inline-block;
    *display: inline;
	background:transparent url('../images/linkedin.png') center top no-repeat;
}
.linkedin img{
	width:100%;
	display: none;
}
.linkedin:hover{
	background-image: url('../images/linkedin2.png');	
}
.twitter{
	width: 48px;
	height:48px;
	display: inline-block;
    *display: inline;
	background:transparent url('../images/twitter.png') center top no-repeat;
}
.twitter img{
	width:100%;
	display: none;
}
.twitter:hover{
	background-image: url('../images/twitter2.png');
}