/***********************************
Author: Eduardo López Arce Vivas
email: eduardo.lopezarce@gmail.com
***********************************/
/*IMPORT GOOGLE FONTS*/
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
/********GENERAL RULES********/
/* rules for all index*/
*{
	font-family: 'Open Sans', sans-serif;
	margin:0px auto;
	padding: 0px;
	font-family: Helvetica, arial, sans-serif;
}
/* Define height as 100*/
html, body {
	height:100%;
}
/* rules for body*/
body{
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}
/* rules for Anchor*/
a{
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	outline:none;
}
/**********Rules for div while image is loading***********/
#hideAll{
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   width:100%;
   background-color: #030303;
   z-index: 99; /* Higher than anything else in the document */
}
#hideAll #imgLoad{
	width:20%;
	margin: 0 auto;
	position: relative;
	z-index: 99;
}

/********RULES FOR TABLE WITH MENU CONTENT********/
#tabmenu{
	text-align:center;	
	width: 100%;
	padding: 0;
	background-color: rgb(3,3,3);
	position: fixed;
	z-index: 3;
}
/********RULES FOR LOGO********/
/* rules for logo*/
.logo {
	width: 150px;
	text-align: center;
	margin: auto;
	padding: auto;
}
/* rules for logo IMAGE*/
.logo img{
	width: 100%;
}
/********RULES FOR NAVIGATION MENU********/
/* rules for all UNORDERED lists*/
ul#navmenu, ul.sub1{
	list-style-type:none;
	/*outline: 1px solid red;*/
}
/* rules for MAIN LIST item*/
ul#navmenu li{
	/*border: 1px solid red;*/
	position: relative; /*very important step*/
	z-index: 3;
	float: right;
	margin-right: 1%;
	margin-bottom: -20px;
}
/* rules for MAIN ANCHOR element*/
ul#navmenu a{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-decoration: none;
	display: block;
	color: #ddd;/*#002F64;*/
	text-align: center;		
	margin: 20px 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
/* rules for ALL ANCHOR element -> MAIN LI hover*/
ul#navmenu li:hover >a{
	color: #00A8CB;
}
/* rules for SUB unordered lists*/
ul#navmenu ul.sub1{
	margin-top: -5px;
	display: none;
	position: absolute;
	z-index: 3;
	width: 200px;
	left: auto;
	right: auto;	
	margin-left: -50px;
	background-color: #030303;
}
ul#navmenu ul.sub1:after{
	content:'';
	display:block;
	position:absolute;
	top:-20px;
	left: 80px;
	width:0;
	height:0;
	border-color: transparent transparent #030303 transparent; /*border color should be same as div div background color*/
	border-style: solid;
	border-width: 10px;
}
/* rules for SUB LIST item*/
ul#navmenu .sub1 li{
	width: 100%;
	/**border: 1px solid green;*/
}
/* rules for SUB ANCHOR element*/
ul#navmenu .sub1 a{
	padding-left: 0px;
	padding-right: 0px;
	color: #ddd;
	width: 100%;
	margin: 5px auto;
}
/* rules for ALL SUB elements -> MAIN LI hover*/
ul#navmenu li:hover .sub1{
	display: block;
}
/**********RULES FOR FLAGS**********/
#flags{
	margin: auto;
	padding-top: 10px;	
}
#flags img{
	margin: 0 2px;
}
#flags a span{
	display:none;
} 
/***************Rules for main section********************/
/*dummy div to add padding*/
#paddingMenu{
	height: 63px;
	position: relative;
	z-index:2;
	width: 100%;
}
/*Main container*/
.mainContainer{
	width: 100%;
	margin: 0 auto;
}
/*Main container with text*/
.mainContainer .mainText{
	position: absolute;
	z-index: 1;
	text-align: center;
}
.mainContainer #mainText1, #sectionText1, #sectionText3{
	margin-left: 45%;	
	width: 50%;
}
.mainContainer #mainText2{
	margin-left: 33%;	
	width: 33%;
}
.mainContainer #mainText3,  #sectionText2{
	width: 50%;
	margin-left: 5%;
}
.mainContainer .mainText .p1{
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	color: #00b8db;
	margin-bottom: 10px;
}
.mainContainer .mainText .p2{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 200%;
}
.mainContainer #mainText1 .p2, #mainText3 .p2{
	color: #ddd;
}
.mainContainer #mainText2 .p2{
	color: #333;
}
.mainContainer #sectionText1 .p2, #sectionText2 .p2, #sectionText3 .p2{
	color: #333;
}
/*Main container with logo*/
.mainContainer #logoHD{
	position: absolute;
	z-index: 1;
	width: 20%;
	margin-left: 40%;
}
/*Main container with image as background*/
.mainContainer .backgd{
	position: relative;
	width: 100%;
	z-index:-1;
}
/*rules for button*/
.button{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	position: relative;
	color: #fff;
	margin: 20px 0px;
	line-height: 400%;
	padding: 15px 25px;
	background-color: #00A8CB;
	z-index: 1;
}
.button:hover{
	background-color: #00b8db;
}
/*Rules for span to specification subsection*/
#targetSpec{
	color: #030303;
	position: absolute;
	z-index: 1;
	left: 0px;
	cursor: pointer;
	background-color: transparent;
	float: left;
	margin-left: 100px;
	width: 300px;
	height: 600px;
}
/*Rules for second image to use on hover for specification subsection*/
#backgdSpec{
	position: absolute;
	display: none;
	z-index: 0;
}
/*Rules for specification subsection*/
#specContainer{
	position: fixed;
	color: red;
	width: 100%;
	height: 100%;
	background: rgba(03,03,03,0.9);
	z-index: 99;
}
/*Rules for icon to close specification subsection*/
#closeIcon{
	background: transparent;
	position: fixed;
	width: 100%;
	z-index: 100; /* Higher than anything else in the document */
	cursor: pointer;
}
/*Rules for icon image to close spec*/
#closeIcon img{
	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: 2%;
	margin-right: 2%;
}













/**********RULES FOR SLIDER IN SECTION MUSCLE**************/
.slides {
    padding: 0;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}
.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.slides input { 
	display: none; 
}
.slide-container { 
	display: block; 
}
.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .5s ease-in-out;
}
.slide img {
    width: 100%;
}
.nav label {
    width: 60px;
    display: none;
    position: absolute;
	opacity: 0.2;
    z-index: 1;
    cursor: pointer;
    color: #FFF;
    font-size: 100px;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .2);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
.nav label:hover { 
	opacity: 1; 
}
.nav .next { 
	right: 0; 
}
input:checked + .slide-container  .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}
input:checked + .slide-container .nav label { 
	display: block; 
}











/***********RULES FOR FOOTER**************/
/* rules for all content in footer */
.footer{
	margin: 0px auto;
	padding-top: 40px;
	width: 100%;
	background-color: rgba(3,3,3,0.9);
	color: #FFF;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
/* rules for heading in footer */
.footer .title{
	margin-left: 20%;
	padding-bottom: 10px;
	font-size:14px;
}
/* rules for subheading in footer */
.footer p{
	margin-left: 20%;
	padding-bottom: 5px;
}
/* rules for subheading elements in footer */
.footer a{
	color: rgb(198,198,198);
}
/* rules for subheading in footer while hover */
.footer a:hover{
	color: #fff;
}
/****************RULES FOR SUBFOOTER************/
.subfooter{
	margin: 0px auto;
	width: 100%;
	height: 50px;
	text-align: right;
	padding-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	background-color: rgba(3,3,3,0.9);
	color: #FFF;
}
/*************SOCIAL MEDIA***************/
.facebook{
	width: 48px;
	height:48px;
	display: inline-block;
    *display: inline;
	background:transparent url('../images/facebook.png') center top no-repeat;
}
.facebook img{
	width:100%;
	display: none;
}
.facebook:hover{
	background-image: url('../images/facebook2.png');	
}
.youtube{
	width: 48px;
	height:48px;
	display: inline-block;
    *display: inline;
	background:transparent url('../images/youtube.png') center top no-repeat;
}
.youtube img{
	width:100%;
	display: none;
}
.youtube:hover{
	background-image: url('../images/youtube2.png');	
}
.linkedin{
	width: 48px;
	height:48px;
	display: inline-block;
    *display: inline;
	background:transparent url('../images/linkedin.png') center top no-repeat;
}
.linkedin img{
	width:100%;
	display: none;
}
.linkedin:hover{
	background-image: url('../images/linkedin2.png');	
}
.twitter{
	width: 48px;
	height:48px;
	display: inline-block;
    *display: inline;
	background:transparent url('../images/twitter.png') center top no-repeat;
}
.twitter img{
	width:100%;
	display: none;
}
.twitter:hover{
	background-image: url('../images/twitter2.png');
}

@media screen and (max-width: 875px) and (min-width: 811px){
	#flags{
		margin: 0px;
		padding-top: 10px;	
	}
	#flags img{
		margin: 0px;
	}
}
@media screen and (max-width: 811px) and (min-width: 0px){
	#flags{
		margin: 0px;
		margin-top: -28px;
		padding:0px;	
	}
	#flags img{
		margin: 0px;
		padding: 0px;
		display: block;
		margin-bottom: 2px;
	}
	.mainContainer .mainText .p1{
		font-family: 'Open Sans', sans-serif;
		font-size: 35px;
		color: #00b8db;
		margin-bottom: 10px;
	}
	.mainContainer .mainText .p2{
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		line-height: 200%;
	}
	.button{
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		padding: 10px 20px;
		line-height: 200%;
	}
}
@media screen and (max-width: 630px) and (min-width: 0px){
	/********RULES FOR TABLE WITH MENU CONTENT********/
	#tabmenu{
		width: 630px;
		position: relative;
	}
	/* rules for MAIN LIST item*/
	ul#navmenu li{
		/*border: 1px solid red;*/
		position: relative; /*very important step*/
		float: right;
		margin-right: 1%;
		margin-bottom: -20px;
	}
	/***************Rules for main section********************/
	/*dummy div to add padding*/
	#paddingMenu{
		height: 0px;
		width: 630px;
	}
	/*Main container*/
	.mainContainer{
		width: 630px;
	}
	.mainContainer #mainText1, #sectionText1, #sectionText3{
		margin-left: 300px;	
		width: 315px;
	}
	.mainContainer #mainText2{
		margin-left: 210px;	
		width: 210px;
	}
	.mainContainer #mainText3, #sectionText2{
		width: 315px;
		margin-left: 15px;
	}
	/*Main container with logo*/
	.mainContainer #logoHD{
		position: absolute;
		z-index: 1;
		width: 126px;
		margin-left: 252px;
	}
	/*Main container with image as background*/
	.mainContainer .backgd{
		width: 630px;
	}
	/**********RULES FOR SLIDER IN SECTION MUSCLE**************/
	.slides {
	    width: 630px;
	}
	/***********RULES FOR FOOTER**************/
	/* rules for all content in footer */
	.footer{
		width: 630px;
	}
	/* rules for heading in footer */
	.footer .title{
		margin-left: 80px;
	}
	/* rules for subheading in footer */
	.footer p{
		margin-left: 80px;
	}
	/****************RULES FOR SUBFOOTER************/
	.subfooter{
		width: 630px;
	}
}